.main{
    background-color: grey;
    display: flex;
    /* flex-direction: column; */
     flex-direction: row;
} 
.content{
    width: 55%;
}
.blue{
    width: 44%;
    background: blue;
}
img{
    width: 250px;
    height: auto;
}
@media screen and (max-width:767px){
    .main{
        flex-direction: column;
    }
    .blue{
        width: 100%;
        background: blue;
    }
    
}
























































































































































































